In [8]:
import pandas as pd
#Membaca Dataset dari folder data
df=pd.read_csv("../data/hour.csv")
df1=df[['instant', 'dteday','season','temp','hum','windspeed']]
df1

       instant      dteday  season  temp   hum  windspeed
0            1  2011-01-01       1  0.24  0.81     0.0000
1            2  2011-01-01       1  0.22  0.80     0.0000
2            3  2011-01-01       1  0.22  0.80     0.0000
3            4  2011-01-01       1  0.24  0.75     0.0000
4            5  2011-01-01       1  0.24  0.75     0.0000
...        ...         ...     ...   ...   ...        ...
17374    17375  2012-12-31       1  0.26  0.60     0.1642
17375    17376  2012-12-31       1  0.26  0.60     0.1642
17376    17377  2012-12-31       1  0.26  0.60     0.1642
17377    17378  2012-12-31       1  0.26  0.56     0.1343
17378    17379  2012-12-31       1  0.26  0.65     0.1343

[17379 rows x 6 columns]

In [10]:
df1.to_csv('../data/Latihan01.csv')
print ('\n data frame berhasil disimpan')

 data frame berhasil disimpan